<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <menuitem id="menu_root_crm"
              name="Custom CRM"
              sequence="1"/>

    <menuitem id="menu_custom_crm_1"
              name="Clients"
              parent="menu_root_crm"
              action="action_client"
              sequence="1"/>

    <menuitem id="menu_custom_crm_2"
          name="Families"
          parent="menu_root_crm"
          action="action_family"
          sequence="2"/>

</odoo>
