<?xml version="1.0" encoding="utf-8"?>

<odoo>
    <menuitem id="menu_root_crm"
              name="Custom CRM"
              sequence="1"/>

    <menuitem id="menu_crm_client"
              name="Client Details"
              parent="menu_root_crm"
              action="action_client"
              sequence="1"/>

    <menuitem id="menu_crm_family"
              name="Family Details"
              parent="menu_root_crm"
              action="action_family"
              sequence="2"/>
    
    <menuitem id="menu_custom_crm_config"
              name="Configuration"
              parent="menu_root_crm"
              sequence="3"/>

</odoo>
